*{
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}
body{
    background-color: #f2f2f2;
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.yellow{
    color: #fed300;
}
.under-h3{
    width: 120px;
    height: 7px;
    border: none;
    background-color: #fed300;
    margin: 0 auto 25px auto;
}
/*SIDEBAR*/
header .hamburger{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: -51px;
    top: 25px;
    padding: 12px;
    background-color: #fed300;
    cursor: pointer;
}
header .hamburger .top,
header .hamburger .mid,
header .hamburger .bottom{
    width: 25px;
    height: 3px;
    background: #e30613;
    transition: 0.8s;
}
header.open-sidebar .hamburger .top{
    transform: rotate(45deg);
    position: relative;
    top: 12px;
    width: 35px;
}
header.open-sidebar .hamburger .mid{
    opacity: 0;
}
header.open-sidebar .hamburger .bottom{
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
    width: 35px;
}
header#sidebar{
    position: fixed;
    z-index: 99;
    background: white;
    height: 100vh;
    min-width: 320px;
    text-align: left;
    padding: 0 20px 0 30px;
    transform: translateX(-100%);
    transition: 0.3s;
    border-right: 2px solid rgb(243, 0, 0);
}
header#sidebar.open-sidebar{
    transform: translateX(0%);
}
header#sidebar li{
    margin-bottom: 20px;
}
header#sidebar li a,
header#sidebar p{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 500;
}
header#sidebar li a:hover,
header#sidebar p:hover{
    color: #e30613;
}
header#sidebar h2 a{
    font-family: 'Montserrat', sans-serif;
    color: #e30613;
    font-size: 2em;
    font-weight: 700;
    display: block;
    margin: 20px 0 40px 0;
}
/*HEADER*/
#home{
    width: 100%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: #e30613;
    padding: 45px 0;
    font-size: 9.5em;
    font-weight: 600;
    text-align: center;
}
h1 a{
    color: #e30613;
}
#home .nav-main{
    width: 100%;
    background-color: #e30613;
    box-shadow: 0px 5px 15px 0px #bdbcbc;
}
#home .nav-main ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}
#home .nav-main ul li a{
    color: white;
    font-size: 1.5em;
    transition: 0.7s;
}
#home .nav-main ul li a:hover{
    color: #fed300;
}
/*MAIN*/
main{
    width: 100%;
}
#products h2{
    color: #fed300;
    font-size: 5em;
    text-align: center;
    margin: 50px auto 50px auto;
}
#products h3{
    color: #e30613;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}
.bloc .choix{
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto 10px auto;
}
.bloc .exemple{
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto 20px auto;
}
#products .container{
    display: flex;
    width: 85%;
    margin: 0 auto 30px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
#products .container img:hover{
    filter: opacity(85%);
}
#products .container img{
    width: 280px;
    height: 280px;
    margin: 15px auto;
    padding: 0 15px;
    cursor: pointer;
}
.transition{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;

}
/*FOOTER*/
footer{
    width: 100%;
    background-color: #fed300;
    box-shadow: 0px 5px 20px 0px #5c5c5c;
    margin-top: 100px;
}
footer .i{
    margin-right: 5px;
}
footer .end{
    display: flex;
    width: 80%;
    margin: 0 0 0 80px;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 1.2em;
    align-items: center;
}
/*MEDIA QUERRIES*/
@media (max-width: 1630px){
    #home .nav-main ul{
        width: 90%;
    }
    #products .container{
        width: 90%;
    }
}
@media (max-width: 1180px){
    #products .container{
        width: 70%;
    }
    footer .end{
        width: 95%;
        margin: 0 auto;
    }
}
@media (max-width: 1004px){
    h1{
        font-size: 7em;
    }
    #home .nav-main ul{
        width: 98%;
    }
    #products .container{
        width: 85%;
    }
}
@media (max-width: 844px){
    h1{
        font-size: 6em;
    }
    main .banner img{
        height: 350px;
    }
    #home .nav-main ul{
        display: none;
    }
    #products h2{
        margin: 0 auto 10px auto;
    }
    footer .end{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 35px;
    }
}
@media (max-width: 720px){
    h1{
        font-size: 5em;
    }
    .transition{
        width: 500px;
    }
}
@media (max-width: 570px){
    h1{
        font-size: 4em;
    }
    header .hamburger{
        width: 20px;
        height: 20px;
        right: -42px;
        padding: 10px;
    }
    header.open-sidebar .hamburger .top{
        top: 8px;
        width: 30px;
    }
    header.open-sidebar .hamburger .bottom{
        top: -10px;
        width: 30px;
    }
    #products h2{
        color: #fed300;
        font-size: 3em;
        text-align: center;
    }
    #products h3{
        font-size: 2em;
    }
    .bloc .choix{
        font-size: 1.2em;
    }
    .bloc .exemple{
        font-size: 1em;
    }
    .transition{
        width: 400px;
    }
}
@media (max-width: 428px){
    header#sidebar{
        min-width: 230px;
        padding: 0 20px 0 10px;
    }
    header#sidebar h2 a{
        font-size: 1.5em;
    }
    h1{
        font-size: 3em;
    }
    #products .container img{
        width: 220px;
        height: 220px;
        margin: 15px auto;
        padding: 0;
    }
    .transition{
        width: 300px;
    }
}
@media (max-width: 339px){
    header#sidebar{
        min-width: 180px;
        padding: 0 5px 0 5px;
    }
    header#sidebar h2 a{
        font-size: 1.3em;
    }
    h1{
        font-size: 2.2em;
    }
    .transition{
        width: 200px;
    }
}
